<% layout("/layouts/boilerplate") -%>
<h1><%= foundCamp.title %></h1>
<h2><%= foundCamp.location %></h2>
<img src="<%= foundCamp.image %>" alt="">
<p><%= foundCamp.description %></p>
<div>
  <a href="/campgrounds/<%= foundCamp._id %>/edit">Edit Campground</a>
</div>
<div>
  <form action="/campgrounds/<%= foundCamp._id %>?_method=DELETE" method="post">
    <button>Delete</button>
  </form>
</div>
<a href="/campgrounds">All Campgrounds</a>